<h2>Edit Student</h2>

<div class="btn-group pull-right">
  <%= link_to 'List All', students_path, :class => "btn" %>
  <%= link_to 'New Student', new_student_path, :class => "btn" %>
</div>

<%= render "form" %>