<div class="row">
  <h2 class="span8">New Student</h2>

  <div class="span4">
    <%= link_to 'List All', students_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>

<hr>

<%= render "form" %>