<h2>Edit Teacher</h2>

<div class="btn-group pull-right">
  <%= link_to 'List All', teachers_path, :class => "btn" %>
  <%= link_to 'New Teacher', new_teacher_path, :class => "btn" %>
</div>

<%= render "form" %>